[submodule "Xcode.swift"]
	path = Xcode.swift
	url = https://github.com/tomlokhorst/Xcode.swift.git
[submodule "OptionKit"]
	path = OptionKit
	url = https://github.com/mac-cain13/OptionKit.git
[submodule "R.swift.Library"]
	path = R.swift.Library
	url = https://mac-cain13@github.com/mac-cain13/R.swift.Library.git
