.DS_Store
xcuserdata
*.xccheckout
ResourceApp/rswift
*.generated.swift
ResourceApp/rswift.log
ResourceApp/rswift-tv.log
ResourceApp/rswift-watchos.log
Pods
fastlane/test_output
fastlane/README.md
fastlane/report.xml
fastlane/settoken.sh
rswift.xcarchive
rswift.xcodeproj
.build
build
DerivedData
