[submodule "Xcode.swift"]
	path = Xcode.swift
	url = https://github.com/siemensikkema/Xcode.swift.git
[submodule "OptionKit"]
	path = OptionKit
	url = https://github.com/siemensikkema/OptionKit.git
[submodule "R.swift.Library"]
	path = R.swift.Library
	url = https://github.com/siemensikkema/R.swift.Library.git
