.DS_Store
xcuserdata
DerivedData
Pods
*.xccheckout
*.generated.swift

fastlane/test_output
fastlane/README.md
fastlane/report.xml
fastlane/settoken.sh

build
.build
.swiftpm
rswift.xcarchive
rswift.xcodeproj

rswift.log
rswift-tv.log
rswift-watchos.log
