name: Swift

on:
  push:
    branches: '*'
  pull_request:
    branches: '*'

jobs:
  build-and-test:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: swift build -v -c release
    - name: Run tests
      run: swift test -
    - uses: maierj/fastlane-action@v1.4.0
      with:
        lane: 'runalltests'
